* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.part2 {
  grid-area: menu;
  width: 10vw;
  background-color: rgb(255, 255, 255, 0.3);
}
.part3 {
  grid-area: main;
  width: 80vw;
}
.part4 {
  grid-area: right;
  width: 10vw;
}
.part5 {
  grid-area: footer;
}
a.nav-item {
  color: aquamarine;
}
.header {
  background-image: url("../img/beading.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#big-logo {
  margin-top: 12vh;
}
#small-logo {
  border: 1px solid white;
  margin-bottom: 5px;
}

.header-text {
  margin: 20px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 0.3);
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.header-text p {
  font-size: 22px;
  font-weight: 500;
  color: rgb(246, 248, 250);
}

/* navigation */
#bootstrap-overrides .navbar {
  background-color: rgba(119, 108, 108, 0.5);
  height: 9vh;
}
#bootstrap-overrides .navbar .nav-item {
  color: white;
  font-weight: 500;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 2rem;
}

.part2 nav {
  background-color: transparent;
  padding-top: 50px;
  padding-left: 20px;
  position: fixed;
  top: 9vh;
  bottom: 0;
  z-index: 1000;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
}

nav ul li {
  list-style: none;
  padding: 20px 0;
}

nav ul li a,
ul li a {
  font-weight: 500;
  color: rgba(251, 251, 251);
}

nav > #side-menu {
  padding-top: 5vh;
}
nav#menu {
  background-color: rgba(119, 108, 108, 0.5);
  font-weight: 500;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: rgb(250, 242, 242);
  font-size: 2rem;
  width: 10vw;
  border-right: 1px solid white;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
}

#toggleMenu {
  width: 10vw;
  height: 10vw;
  padding: 3vh;
  position: fixed;
  top: 9vh;
  left: 0;
  z-index: 1050;
  cursor: pointer;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
}

#toggleMenu:hover {
  opacity: 0.7;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 500ms;
  border: 3px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 2px rgba(255, 250, 250);
}

.menu-btn_burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(255, 250, 250);
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(255, 250, 250);
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  transform: translateY(-10px);
}
.menu-btn_burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open {
  border: 3px solid rgba(251, 251, 251, 0.1);
  box-shadow: 0px 0px 4px rgba(255, 250, 250, 0.2);
}
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.grid-container {
  background-color: rgb(221, 221, 221);
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.item {
}

.item > img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin: 20px;
  height: 350px;
  width: 350px;
  border: 1px solid #222;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgb(32, 32, 32);
}

/*Media Queries*/
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
}
